:root {
    --dark-fg: #252525;
    --light-fg: #b5b5b5;
    --dark-bg: #252525;
    --light-bg: #b5b5b5;
    --success-fg: #1D4E1D;
    --success-bg: #a1ff9d;
    --failure-fg: #4D0000;
    --failure-bg: #FF9E9E;
}